body{
    font-family:Arial;
    font-size:12px;
    color:#000;
    margin:0;
    padding:0;
    background:#DDD;
}
textarea{font-family:Arial;font-size:12px;}
:focus{outline:none;}
a{text-decoration:none !important;color: #00a8f7;font-weight: bold;}
.errors p{text-indent:5px;color:#FFF;width:100%;background:#FF0000;border-radius:5px;padding:5px 0;}
.msg p{text-indent:5px;color:#FFF;width:100%;background:#07920a;border-radius:5px;padding:5px 0;}
.clear{clear:both;}
.errors,.msg{color:#FFF;}
.center{text-align:center;}
.align-center{text-align:center;}
.padding{padding:5px;}
.no-margin{margin:0 !important;}
fieldset legend{color:#FFF;}
.left_label{width:120px;}

.head-space{
	margin-top:71px;
}

.navbar{
  padding:10px 0px;
}

.navbar-inverse{
  background:#222;
  opacity:0.97;
  box-shadow:0px 0px 12px #111;
}

.slider-container{
	background:#141414 url(../images/slider/main-bg.png) center top no-repeat;
	padding:20px 0px;
	width:100%;
}

.slider-container .well{
	background:#222;
	border:1px solid #111;
	margin-bottom:0px !important; 
}

.content-inner{
	padding:10px 0px;
	background:#EEE;
	box-shadow:0px 0px 12px #222;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
}

.post-box{
	background-color:#FFF;
}

.fb-comments, .fb-comments span, .fb-comments.fb_iframe_widget span iframe {
    width: 100% !important;
}

.half-panel{
	width:50%;
	float:left;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.profile-activity .item{
    border-bottom: 1px solid #CCC;
    padding: 5px 0px;
}

.tab-content{
	background:#FFF;
	border-bottom:1px solid #DDD;
	border-left:1px solid #DDD;
	border-right:1px solid #DDD;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}

.tab-pane{
	padding:10px;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}

.post{
	border:1px solid #DDD;
	padding:10px;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
      margin-bottom:10px;
      background:#FFF;
}

.post-info{
	border-right:1px solid #DDD;
	padding-right:10px;
}

.post-body{
	padding:10px;
	-webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}

.thread-title{
	font-size:14px;
	font-weight:bold;
}

.thread-hr{
	border-color:#CCC;
}

.pagination{
	margin:5px 0px;
}

.mail-box{
	padding:5px;
}

.newmail{
    width:16px;
    height:16px;
    background:url('../images/icons/newmail.png') no-repeat;
}
.oldmail{
    width:16px;
    height:16px;
    background:url('../images/icons/oldmail.png') no-repeat;
}

.video-item{
	margin-bottom:0px !important;
}

.video-inner{
	position:relative;
}

.video-image{
	max-width:100%;
}

.video-image:hover{
	opacity:0.8;
}

.video-title{
	width:100%;
	height:30px;
	background:#000;
	color:#FFF;
	opacity:0.8;
	position:absolute;
	bottom:0px;
	left:0px;
	line-height:30px;
	text-indent:8px;
}

.profile-hr{
	padding:0px !important;
	margin:8px 0px !important;
}

#sharethis span
{
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
      box-sizing: content-box;
}

@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

/** LATEST THREADS WIDGET CSS **/

#lt .item{
    width:100%;
    padding:10px;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    background:#EEE;
    margin-bottom:5px;
}

#lt .item:last-child{
    margin-bottom:0px;
}

#lt .item>.title{
    font-size:14px;
    font-weight:bold;
}

#lt .item>.desc{
    font-size:10px;
}

.gallery-button{
	width:100%;
	padding:10px;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;
    background:#DDD;
}

.gallery-carousel-img{
	width:100px;
	margin-right:5px;
}

.forum_img{
    width:48px;
	height:48px;
	background:url('../images/icons/forums/general.png') center center no-repeat;
	border:1px solid #AAA;
	border-radius: 3px;
}

.forum_name{
	width:50%;
}

.forum_topics{
	width:10%;
	text-align:center;
}

.forum_posts{
	width:10%;
	text-align:center;
}

.forum_posted_by{
	width:30%;
}

.well-half{
	width:50%;
}

.slideshow{
	background:#FFF;
	padding:5px 0px;
}

.pre-foot{
	width:100%;
	padding-top:20px;
	padding-bottom:20px;
	background:#141414 url(../images/slider/main-bg.png) center top no-repeat;
}

.pre-foot .well{
	background:#222;
	border:1px solid #111;
}

.pre-foot .small_logo_container{
	text-align:center;
}

.pre-foot .panel{
	background:#222;
	color:#FFF;
}

.pre-foot .panel>.panel-default{
	background:#111;
}

.pre-foot .panel>.panel-heading{
	background:#111;
	color:#FFF;
	border:none !important;
}

.pre-foot .panel{
	border:1px solid #000;
}

.pre-footer-nav{padding:5px 15px 5px 15px;width:33%;float:left;
	-webkit-box-sizing: border-box; 
    -moz-box-sizing: border-box;    
    box-sizing: border-box;}
.pre-footer-nav li{margin-bottom:9px;}
.pre-footer-nav li:last-child{margin-bottom:0px;}
.pre-footer-nav li a{color:#FFF;font-weight:bold;}

.iconRounded{
	width:30px;
	height:30px;
	display: inline-block;
	text-align: center;
	color:#FFF;
	line-height:30px;
	margin-right:10px;
	font-size:22px;
}

.padded{
  padding:10px;
}

#facebook .iconRounded:hover{
    color:#0030ff !important;
}

#twitter .iconRounded:hover{
    color:#61cbe8 !important;    
}

#youtube .iconRounded:hover{
    color:#e30c0c !important;    
}

#footer-area{
	width:100%;
	height:50px;
	background:url('../images/footer/footerbg.jpg') repeat-x;
	color:#FFF;
}
#footer-area a{
	color:#00a8f7;
	font-weight:bold;
}
#footer-area .pull-left{
	line-height:50px;
}
#footer-area .pull-right{
	line-height:50px;
}

@media (max-width: 992px) {

	.half-panel{
		width:100%;
	}

	.pre-footer-nav{
		width:100%;
		list-style-type:none;
		padding:0px;
	}

	.pre-footer-nav li{
		padding:5px;
		background:#333;
		border-radius:5px;
	}

}